/* Reset CSS */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Gamja Flower', cursive;
}


a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  font-family: 'Gamja Flower', cursive;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}