/* Reset CSS */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Gamja Flower', cursive;
  background-image: url('https://source.unsplash.com/1600x900/?nature,water');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}


a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  font-family: 'Gamja Flower', cursive;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* 시간과 날씨 */
.time-weather-section {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
}

.time {
  display: inline-block;
  font-size: 150px;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.9);
}

.weather {
  display: inline-block;
  height: 150px;
}

.weather-icon-temp {
  display: flex;
  height: 70px;
}

.weather-icon img {
  display: block;
  width: 70px;
}

.weather-temp {
  color: rgba(255, 255, 255, 0.9);
  font-size: 40px;
  line-height: 70px;
}