/* Reset CSS */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Gamja Flower', cursive;
  background-image: url('https://source.unsplash.com/1600x900/?nature,water');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}


a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  font-family: 'Gamja Flower', cursive;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* 컨텐츠 */
.contents-wrapper {
  position: relative;
  top:25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 검색창 */
.search-section {
  position: absolute;
  width: 640px;
  display: flex;
  justify-content: space-between;
}

.search-section input {
  padding: 0px 10px;
  width: 200px;
  height: 40px;
  border-style: none;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 28px;
  color: rgba(255, 255, 255, 0.85);
}

.search-section input::placeholder {
  color: rgba(255, 255, 255, 0.85);
}

/* 시간과 날씨 */

.time {
  display: inline-block;
  margin: 10px 10px 0 0;
  height: 220px;
  font-size: 190px;
  color: rgba(255, 255, 255, 0.85);
  text-shadow: 10px 10px 10px rgba(0,0,0,0.6);
}

.weather {
  display: inline-block;
  height: 100px;
}

.weather-icon-temp {
  display: flex;
  height: 70px;
}

.weather-icon img {
  display: block;
  width: 70px;
}

.weather-temp {
  color: rgba(255, 255, 255, 0.85);
  text-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  font-size: 40px;
  line-height: 70px;
}

/* to-do */
.todo-section {
  width: 500px;;
}
.todo-section input {
  width: 450px;
  margin: 0 25px 30px;
  border-style: none;
  border-bottom: solid 2px rgba(255, 255, 255, 0.7);
  background: none;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  font-size: 30px;
}

.todo-section input::placeholder {
  color: rgba(255, 255, 255, 0.85);
  text-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  text-align: center;
}

.todo-section ul {
  font-size: 28px;
  color: rgba(255, 255, 255, 0.85);
  text-shadow: 3px 3px 3px rgba(0,0,0,0.6);
}

.todo-section li {
  margin-bottom: 10px;
  list-style-type: disc;
}

.todo-section span {
  cursor: pointer;
}

.todo-section li:hover button {
  opacity: 0.9;
}

.todo-section button {
  border-style: none;
  background: none;
  margin-left: 20px;
  font-size: 28px;
  color: rgba(255, 255, 255, 0.85);
  text-shadow: 3px 3px 3px rgba(0,0,0,0.6);
  opacity: 0.1;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}